body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #111;
    color: #eee;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

main {
    flex-grow: 1;
    background-color: #000;
    box-shadow: 0 0 4px #222;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 55px);
    gap: 15px;
    padding: 1em;

    > :not(.cell) {
        display: none;
    }
}

.grid:has(.priorityBtn.active) {
    .cell:has(.priorityBtn.active) {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4
    }
}

.grid:not(:has(.priorityBtn.active)) {
    .cell.full-width {
        grid-row-start: -1;
    }
}

.cell {
    background: #1c1c1c;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px #000;

    &, .wrapper {
        display: flex;
        align-items: center;
    }

    .wrapper {
        flex-grow: 1;

        + .wrapper {
            margin-left: 16px;
        }
    }

    &.full-width {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    label {
        margin-right: 0.3em;
    }
}

input, select {
    flex: 1;
    padding: 8px 10px;
    margin: 0 4px;
    font-size: 14px;
    background: #2a2a2a;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    outline: none;


    &.drag-target {
        color: transparent;
        background-color: #7B52AB;
    }
}

input[type=color] {
    padding: 0 2px;
    width: 32px;
    max-width: 32px;
    height: 32px;
    cursor: pointer;
    background: #9768D1;
    border: none;

    &:hover {
        background: #7B52AB;
    }
}

button {
    margin: 0 4px;
    padding: 4px 4px;
    font-size: 14px;
    background: #9768D1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;

    &.iconBtn {
        max-height: 32px;
    }

    &.backBtn {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.forwardBtn {
        margin-left: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

button:hover {
    background: #7B52AB;
}

button.active {
    background: #F4511E;
}

button[disabled] {
    background: #333333;
    color: #222222;
    pointer-events: none;
}

button.iconBtn:not(.active) span:not(:first-child) {
    display: none;
}

button.active span:not(:last-child) {
    display: none;
}

span.pre-icon {
    margin-right: 6px;
    opacity: 0.5;
    text-shadow: 3px 3px #222;
}

.material-symbols-outlined.flip-horizontal {
    transform: scaleX(-1);
}

.preview-img {
    background-color: #444;
    width: 57px;
    height: 32px;
    border-radius: 4px;
    border: 2px solid #666;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0 8px 0 -16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cap-modal {
    inset: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    width: 80%;
    height: 90%;
}

.cap-hidden {
    /*! display: none */
}

.cap-box {
    background: #1b1b1b;
    color: #fff;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .6)
}

.cap-grid {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));
    gap: 12px;
    margin-top: 12px
}

.cap-item {
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cap-item .material-symbols-outlined {
    position: absolute;
    left: 6px;
    top: 6px;
    padding: 4px;
    border-radius: 50%;

    opacity: 0.667;
    text-shadow: 3px 3px #222;
}

.cap-item:hover {
    border-color: #777
}

.cap-thumb {
    width: 100%;
    height: 94px;
    object-fit: contain;
    background: #000
}

.cap-name {
    padding: 8px;
    font-size: 12px;
    opacity: .9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.cap-actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.cap-btn {
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    padding: 4px;
    color: #fff;
    cursor: pointer
}

.cap-btn:hover {
    background: #3a3a3a
}